@import '../../utils/variables';
@import '../../utils/mixins';

.login {
  height: 100%;
  background-color: $app-background;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include for-small-screens {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
    @include for-small-screens {
      flex: 0.1;
    }

    img {
      width: 28rem;

      @include for-mobile-only {
        width: 19rem;
      }
    }

    h3 {
      margin-top: -2rem;
      width: 22rem;
      font-weight: 400;

      @include for-mobile-only {
        width: 16rem;
        text-align: center;
        font-size: 1.1rem;
        margin-top: -1rem;
      }
    }
  }

  .loginCard {
    display: flex;
    flex: 0.8;
    align-items: flex-start;
    flex-direction: column;

    .card {
      display: flex;
      flex-direction: column;
      background-color: $white;
      padding: 3rem;
      border: 1px solid $border-color;
      border-radius: 0.4rem;

      @include for-mobile-only {
        padding: 1.8rem;
      }
    }

    .title {
      font-size: 2.1rem;
      font-weight: 600;
      @include fluid-type(1.8rem, 2.1rem)
    }

    .button {
      background-color: $primary;
      color: $white;
      align-self: bottom;
      margin-top: 3rem;
      padding: 0.4rem 4rem;
      transition: linear 200ms;

      &:hover {
        background-color: $primary-light;
        transform: translateY(-2px);
      }
    }
  }
}
