@import '../../utils/variables';
@import '../../utils/mixins';

.feed {
  display: flex;
  flex-direction: column;
  flex: 0.45;
  justify-content: flex-start;
  align-items: center;
  padding: 0.35rem;
  height: 100vh;

  @include for-xl-devices {
    flex: 0.3;
  }

  @include for-large-devices {
    flex: 1;
    // align-items: center;
    // justify-content: center;
  }
  
  @include for-small-screens {
    overflow-x: hidden;
  }
}
