@import '../../utils/variables';
@import '../../utils/mixins';

.actions {
  transition: linear 200ms;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
  justify-content: space-evenly;
  align-items: center;

  @include for-small-screens {
    padding: 0.3rem 1rem;
  }

  &:hover {
    background-color: $button-hover;
    transform: translateY(-2px);
    border-radius: 0.5rem;
  }

  h5 {
    color: $comment-text;
    margin-left: 0.5rem;

    @include for-small-screens {
      display: none;
    }
  }
}
