@import '../../utils/variables';
@import '../../utils/mixins';

.header {
  background-color: $component-background;
  padding: 0.2rem 0.5rem 0;
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px $box-shadow;

  @include for-small-screens {
    padding: 0.4rem 0.5rem;
  }

  .headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0.3;

    @include for-xl-devices {
      flex: 0.2;
    }

    @include for-large-devices {
      flex: 0.2;
    }


    .logo {
      height: 40px;

      @include for-small-screens {
        height: 35px;
      }

    }

    .searchInput {
      margin: 0 0.4rem;
      display: flex;
      background-color: $comment-background;
      padding: 0.2rem;
      border-radius: 3rem;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      @include for-xl-devices {
        flex: 0.7;
      }

      @include for-large-devices {
        flex: 0.4;
      }

      @include for-small-screens {
        display: none;
      }

      .searchIcon {
        color: $comment-text;
        margin-left: 0.5rem;
        @include for-large-devices {
          display: none;
        }
      }

      .inputBar {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.4rem;
        color: $comment-text;
        @include for-large-devices {
          text-align: center;
        }
      }
    }
  }

  .headerCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.55;
    @include for-xl-devices {
      flex: 0.4;
    }

    @include for-large-devices {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 0.3;
    }

    @include for-small-screens {
      display: none;
    }

    .option {
      display: flex;
      align-items: center;
      padding: 0.6rem 3rem;
      border-radius: 0.4rem;
      transition: linear 200ms;

      @include for-large-devices {
        padding: 0.6rem;
        margin-left: 0.2rem;
      }

      @include for-xl-devices {
        padding: 0.6rem 1rem;
      }

      &:hover {
        cursor: pointer;
        background-color: $button-hover;
        transform: translateY(-1.5px);
        .icon {
          color: $primary;
        }
      }

      .icon {
        color: $icon;
      }
    }

    .activeOption {
      display: flex;
      align-items: center;
      padding: 0.6rem 3rem;
      cursor: pointer;
      border-bottom: 4px solid $primary;
      @include for-large-devices {
        padding: 0.5rem;
      }
      @include for-xl-devices {
        padding: 0.6rem 1rem;
      }

      .icon {
        color: $primary;
      }
    }
  }

  .headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0.3;
    justify-content: flex-end;

    @include for-xl-devices {
      flex: 0.5;
    }

    button {
      background-color: $button-background;
      color: $button-icon;
      margin: 0 0.3rem;
      transition: linear 200ms;
      @include for-xl-devices {
        padding: 0.6rem;
      }

      @include for-small-screens {
        padding: 0.5rem;
      }

      &:hover {
        background-color: $sec-button-hover;
        transform: translateY(-2px);
      }
    }

    .info {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;

      @include for-large-devices {
        display: none;
      }

      h4 {
        margin-left: 0.5rem;
      }
    }
  }
}
